.review-modal-custom{
    width:80%;
    height:50%;
}
.review-modal{
    z-index: 100;
    left: 20%;
    bottom: 30%;
    position:fixed;
}
.modal-close{
    cursor: pointer;
}
@media screen and (min-width:500px) {
    .review-modal{
        z-index: 100;
        left: 20%;
        bottom: 50%;
        position:fixed;
    }
}
